body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: sans-serif;
    background-color: black;
   
}

.calender-container{
    background-color: #fff;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0, .3);
}

.month-name{
    margin: 0;
    background-color: orangered;
    color: white;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}

.day-name{
    font-size: 20px;
    color: darkgray;

}

.day-number{
    font-size: 80px;
    margin: 0;
    font-weight: bold;
}

.year{
    font-size: 20px;
    margin: 20px 0;
    color: darkgrey;
    font-weight: 500;
}
